


@model List<_01_eshopQuery.Contracts.Article.ArticleQueryModel>


<div class="blog-post-slider-area">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <!--=======  blog post slider border wrapper  =======-->
                <div class="blog-post-slider-border-wrapper section-space--inner">
                    <div class="row">
                        <div class="col-lg-12">
                            <!--=======  section title  =======-->
                            <div class="section-title-wrapper text-center section-space--half">
                                <h2 class="section-title">مطالب جدید</h2>
                                <p class="section-subtitle">
                                    آخرین مطالب فروشگاه را دنبال کنید..
                                </p>
                            </div>
                            <!--=======  End of section title  =======-->
                        </div>
                        <div class="col-lg-12">
                            <!--=======  blog post slider wrapper  =======-->
                            <div class="blog-post-slider-wrapper">
                                <div class="ht-slick-slider" data-slick-setting='{
                                    "slidesToShow": 3,
                                    "slidesToScroll": 1,
                                    "arrows": false,
                                    "autoplay": true,
                                    "autoplaySpeed": 1000,
                                    "speed": 1000,
                                    "infinite": true,
                                    "rtl": true
                                }' data-slick-responsive='[
                                    {"breakpoint":1501, "settings": {"slidesToShow": 3} },
                                    {"breakpoint":1199, "settings": {"slidesToShow": 3} },
                                    {"breakpoint":991, "settings": {"slidesToShow": 2} },
                                    {"breakpoint":767, "settings": {"slidesToShow": 1} },
                                    {"breakpoint":575, "settings": {"slidesToShow": 1} },
                                    {"breakpoint":479, "settings": {"slidesToShow": 1} }
                                ]'>

                                    @foreach (var item in Model)
                                    {
                                        <div class="col">
                                            <!--=======  single slider post  =======-->
                                            <div class="single-slider-post">
                                                <div class="single-slider-post__image">
                                                    <a asp-page="./Article" asp-route-id="@item.Slug">
                                                        <img src="~/ProductPicture/@item.Picture"
                                                             class="img-fluid" alt="@item.PictureAlt" title="@item.PictureTitle">
                                                    </a>
                                                   
                                                </div>
                                                <div class="single-slider-post__content">
                                                    <h3 class="title">
                                                        <a asp-page="./Article" asp-route-id="@item.Slug">
                                                            @item.Title
                                                        </a>
                                                    </h3>
                                                    <p class="post-meta">انتشار : @item.PublishDate</p>
                                                    <p class="short-desc pull-right">
                                                        @item.ShortDescription
                                                    </p>
                                                  
                                                    <div>
                                                        <a asp-page="./Article" asp-route-id="@item.Slug" class="blog-post-link pull-right">
                                                            ادامه مطلب...

                                                        </a>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            <!--=======  End of single slider post  =======-->
                                        </div>

                                    }


                                </div>
                            </div>
                            <!--=======  End of blog post slider wrapper  =======-->
                        </div>
                    </div>
                </div>
                <!--=======  End of blog post slider border wrapper  =======-->
            </div>
        </div>

    </div>
</div>