

@model _01_eshopQuery.MenueModel

@inject _0_Framework.Application.IAuthHelper AuthHelper


<div class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  header wrapper  =======-->
                <div class="header-wrapper d-none d-lg-flex">
                    <!-- logo -->
                    <div class="logo">
                        <a href="index.html">
                            <img src="/Theme/assets/img/logo.png" class="img-fluid" alt="">
                        </a>
                    </div>
                    <!-- menu wrapper -->
                    <div class="navigation-menu-wrapper">
                        <nav>
                            <ul>
                                <li>
                                    <a href="/"><i class="fa fa-home"></i> صفحه اصلی  </a>
                                </li>

                                <li class="menu-item-has-children">
                                    <a href="#"><i class="fa fa-reorder"></i>   محصولات</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item-has-children">
                                            <a href="#"> برند ها</a>
                                            <ul class="sub-menu">

                                                @foreach (var item in Model.ProductCategories)
                                                {
                                                    <li>
                                                        <a asp-page="ProductCategory" asp-route-id="@item.Slug">@item.Name</a>
                                                    </li>
                                                }
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li class="menu-item-has-children">
                                    <a href="blog-left-sidebar.html"><i class="fa fa-book"></i>  بلاگ</a>
                                    <ul class="sub-menu">
                                        @foreach (var item in Model.ArticleCategories)
                                        {
                                            <li>
                                                <a asp-page="ArticleCategory" asp-route-id="@item.Slug">@item.Name</a>
                                            </li>
                                        }


                                    </ul>
                                </li>

                                <li>
                                    <a href="contact.html"><i class="fa fa-phone-square"></i>  تماس با فروشگاه</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- header icon -->
                    <div class="header-icon-wrapper">
                        <ul class="icon-list">
                            <li>
                                <a href="javascript:void(0)" id="search-overlay-trigger">
                                    <i class="ion-ios-search-strong"></i>
                                </a>
                            </li>
                            <li>
                                <div class="header-cart-icon">
                                    <a href="#" id="minicart-trigger">
                                        <i class="ion-bag"></i>
                                        <span class="counter">3</span>
                                    </a>
                                    <!-- mini cart  -->
                                    <div class="mini-cart" id="mini-cart">
                                        <div class="cart-items-wrapper ps-scroll">
                                            <div class="single-cart-item">
                                                <a href="javascript:void(0)" class="remove-icon">
                                                    <i class="ion-android-close"></i>
                                                </a>
                                                <div class="image">
                                                    <a href="single-product.html">
                                                        <img src="/Theme/assets/img/products/product-1-80x106.jpg"
                                                             class="img-fluid" alt="">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <p class="product-title">
                                                        <a href="single-product.html">Cillum dolore furniture</a>
                                                    </p>
                                                    <p class="count"><span>1 x </span> $402</p>
                                                </div>
                                            </div>
                                            <div class="single-cart-item">
                                                <a href="javascript:void(0)" class="remove-icon">
                                                    <i class="ion-android-close"></i>
                                                </a>
                                                <div class="image">
                                                    <a href="single-product.html">
                                                        <img src="/Theme/assets/img/products/product-2-80x106.jpg"
                                                             class="img-fluid" alt="">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <p class="product-title">
                                                        <a href="single-product.html">Lorem ipsum furniture</a>
                                                    </p>
                                                    <p class="count"><span>1 x </span> $500</p>
                                                </div>
                                            </div>
                                            <div class="single-cart-item">
                                                <a href="javascript:void(0)" class="remove-icon">
                                                    <i class="ion-android-close"></i>
                                                </a>
                                                <div class="image">
                                                    <a href="single-product.html">
                                                        <img src="/Theme/assets/img/products/product-3-80x106.jpg"
                                                             class="img-fluid" alt="">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <p class="product-title">
                                                        <a href="single-product.html">Cillum dolore tool</a>
                                                    </p>
                                                    <p class="count"><span>1 x </span> $607</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cart-calculation">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td class="text-right">Sub-Total :</td>
                                                        <td class="text-left">$220.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-right">Eco Tax (-2.00) :</td>
                                                        <td class="text-left">$6.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-right">VAT (20%) :</td>
                                                        <td class="text-left">$44.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-right">Total :</td>
                                                        <td class="text-left">$270.00</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="cart-buttons">
                                            <a href="cart.html">VIEW CART</a>
                                            <a href="checkout.html">CHECKOUT</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="header-settings-icon">
                                    <a href="javascript:void(0)" class="header-settings-trigger"
                                       id="header-settings-trigger">
                                        <div class="setting-button">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </a>

                                    <!-- settings menu -->
                                    <div class="settings-menu-wrapper" id="settings-menu-wrapper">
                                        <div class="single-settings-block">
                                            @if (AuthHelper.IsAuthenticated())
                                            {
                                                <h2 class="title text-center"> کاربر محترم @User.Identity.Name</h2>
                                                <ul>
                                                    <li>
                                                        <a asp-page="/Account" asp-page-handler="LogOut">خروج از حساب</a>
                                                    </li>
                                                </ul>
                                            }
                                            else
                                            {
                                                <h2 class="title text-center">حساب کاربری</h2>
                                                <ul>
                                                    <li>
                                                        <a asp-page="/Account">ثبت نام / ورود در فروشگاه</a>
                                                    </li>
                                                </ul>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--=======  End of header wrapper  =======-->
                <!--=======  mobile navigation area  =======-->

                <div class="header-mobile-navigation d-block d-lg-none">
                    <div class="row align-items-center">
                        <div class="col-6 col-md-6">
                            <div class="header-logo">
                                <a href="index.html">
                                    <img src="/Theme/assets/img/logo.png" class="img-fluid" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-md-6">
                            <div class="mobile-navigation text-right">
                                <div class="header-icon-wrapper">
                                    <ul class="icon-list justify-content-end">
                                        <li>
                                            <div class="header-cart-icon">
                                                <a href="cart.html">
                                                    <i class="ion-bag"></i>
                                                    <span class="counter">3</span>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" class="mobile-menu-icon"
                                               id="mobile-menu-trigger">
                                                <i class="fa fa-bars"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--=======  End of mobile navigation area  =======-->

            </div>
        </div>
    </div>
</div>




<div class="offcanvas-mobile-menu" id="offcanvas-mobile-menu">
    <a href="javascript:void(0)" class="offcanvas-menu-close" id="offcanvas-menu-close-trigger">
        <i class="ion-android-close"></i>
    </a>

    <div class="offcanvas-wrapper">

        <div class="offcanvas-inner-content">
            <div class="offcanvas-mobile-search-area">
                <form action="#">
                    <input type="search" placeholder="جستجو محصول ...">
                    <button type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
            <nav class="offcanvas-navigation">
                <ul>
                    <li class="menu-item-has-children">
                        <a href="#"><i class="fa fa-home menueMobile"></i>  صفحه اصلی</a>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#">محصولات ایران تایم</a>
                        <ul class="sub-menu">
                            <li class="menu-item-has-children">
                                <a href="#">برند ها</a>
                                <ul class="sub-menu">
                                    @foreach (var item in Model.ProductCategories)
                                    {
                                        <li>
                                            <a asp-page="ProductCategory" asp-route-id="@item.Slug">@item.Name</a>
                                        </li>
                                    }



                                </ul>
                            </li>

                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#">بلاگ</a>
                        <ul class="sub-menu">
                            @foreach (var item in Model.ArticleCategories)
                            {
                                <li>
                                    <a asp-page="ArticleCategory" asp-route-id="@item.Slug">@item.Name</a>
                                </li>
                            }



                        </ul>
                    </li>

                    <li class="menu-item-has-children">
                        <a href="#">حساب کاربری</a>
                        <ul class="sub-menu">

                            @if (AuthHelper.IsAuthenticated())
                            {

                                <li>
                                    <p>حساب کاربری @User.Identity.Name</p>
                                </li>
                                <li>
                                    <a asp-page="/Account" asp-page-handler="LogOut">خروج از حساب</a>
                                </li>

                            }
                            else
                            {

                                <li>
                                    <a asp-page="/Account">ثبت نام / ورود در فروشگاه</a>
                                </li>

                            }

                        </ul>
                    </li>

                 

                    <li class="menu-item-has-children">
                        <a href="#"><i class="fa fa-phone menueMobile"></i> تماس با فروشگاه </a>
                    </li>

                </ul>
            </nav>





            <div class="offcanvas-widget-area">
                <div class="off-canvas-contact-widget">
                    <div class="header-contact-info">
                        <ul class="header-contact-info__list">
                            <li>
                                <i class="ion-android-phone-portrait"></i> <a href="tel://12452456012">
                                    (021) 2456 0938 892
                                </a>
                            </li>
                            <li>
                                <i class="ion-android-mail"></i> <a href="mailto:info@yourdomain.com">info@Irantime.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--Off Canvas Widget Social Start-->
                <div class="offcanvas-canvas-widget-social">
                    <a href="#" title="Facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#" title="Twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#" title="LinkedIn">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a href="#" title="Youtube">
                        <i class="fa fa-youtube-play"></i>
                    </a>
                    <a href="#" title="Vimeo">
                        <i class="fa fa-vimeo-square"></i>
                    </a>
                </div>
                <!--Off Canvas Widget Social End-->
            </div>
        </div>
    </div>

</div>




