@page
@model ServiceHost.Pages.CartModel
@{

    ViewData["Title"] = "مشاهده سبد خرید";

}


<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper breadcrumb-bg">
                    <div class="breadcrumb-content">
                        <h1 class="breadcrumb-content__title">مشاهده سبد خرید</h1>
                        <ul class="breadcrumb-content__page-map">
                            <li>
                                <a href="/">صفحه اصلی</a>
                            </li>
                            <li class="active">
                                سبد خرید
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  page wrapper  =======-->
                <div class="page-wrapper">

                    @foreach (var item in Model.CartItems.Where(c => !c.IsInStock))
                    {
                        <div class="alert alert-warning font-weight-bold">
                            <i class="fa fa-warning"></i>
                            کالای <strong>@item.name</strong>
                            <br />
                            <br />
                            در انبار کمتر از تعداد درخواستی موجوداست
                            تعداد کمتری انتخاب کنید با تشکر
                        </div>
                    }


                    @if (Model.CartItems.Count == 0)
                    {
                        <div class="alert alert-primary font-weight-bold">
                            <i class="fa fa-info"></i> کاربر عزیز سبد خرید شما خالی میباشد ! .
                        </div>

                    }
                    else
                    {
                        <div class="page-content-wrapper">
                            <form action="#">
                                <div class="cart-table table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="pro-thumbnail">تصویر محصول</th>
                                                <th class="pro-title">نام</th>
                                                <th class="pro-price">قیمت واحد</th>
                                                <th class="pro-quantity">تعداد</th>
                                                <th class="pro-subtotal">مجموع قیمت</th>
                                                <th class="pro-remove">حذف از سبد</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in Model.CartItems)
                                            {
                                                <tr>
                                                    <td class="pro-thumbnail">
                                                        <a href="single-product.html">
                                                            <img src="/ProductPicture/@item.picture" class="img-fluid" alt="Product">
                                                        </a>
                                                    </td>
                                                    <td class="pro-title">
                                                        <a asp-page="Product" asp-route-id="@item.slug">@item.name</a>
                                                    </td>
                                                    <td class="pro-price">
                                                        <span>@item.doublePrice.ToString("n0") تومان</span>
                                                    </td>
                                                    <td class="pro-quantity">
                                                        <div class="quantity-selection">
                                                            <input type="number" value="@item.count" min="1" max="5" onchange="changeCartItemCount('@item.id','totalItemPrice-@item.id',this.value)">
                                                        </div>
                                                    </td>
                                                    <td class="pro-subtotal">
                                                        <span id="totalItemPrice-@item.id">@item.TotalItemPrice.ToString("n0") تومان</span>
                                                    </td>
                                                    <td class="pro-remove">
                                                        <a asp-page="Cart" asp-page-handler="RemoveItem" asp-route-id="@item.id">
                                                            <i class="fa fa-remove"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }


                                        </tbody>
                                    </table>
                                </div>
                            </form>
                            <div class="row">
                                <div class="col-lg-6 col-12 col-lg-offset-2 d-flex">
                                    <div class="cart-summary">
                                        <div class="cart-summary-button">
                                            <a class="checklistBasket" asp-page-handler="GoToCheckOut">تکمیل فرایند خرید</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    }




                </div>
            </div>
        </div>
    </div>
</div>

@section SC{
    <script>
        $(document).ready(function () {
            updateCart();
        });
       
    </script>
   
}