@page
@using ShopManagement.Application.Contract
@model ServiceHost.Pages.CheckOutModel
@{
    ViewData["Title"] = "مشاهده سبد خرید";

}


<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper breadcrumb-bg">
                    <div class="breadcrumb-content">
                        <h1 class="breadcrumb-content__title">تایید سبد / پرداخت</h1>
                        <ul class="breadcrumb-content__page-map">
                            <li>
                                <a href="/">صفحه اصلی</a>
                            </li>
                            <li class="active">
                                تایید سبد  ,  پرداخت
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  page wrapper  =======-->
                <div class="page-wrapper">
                    <div class="page-content-wrapper">
                        <form method="post">
                            <div class="cart-table table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="pro-thumbnail">عکس</th>
                                            <th class="pro-thumbnail">محصول</th>
                                            <th class="pro-title">قیمت واحد</th>
                                            <th class="pro-price">تعداد</th>
                                            <th class="pro-price">در صد تخفیف</th>
                                            <th class="pro-quantity">مبلغ کل بدون تخفیف</th>
                                            <th class="pro-subtotal">مبلغ کل تخفیف</th>
                                            <th class="pro-remove">مبلغ پس از تخفیف</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model.Cart.items)
                                        {
                                            <tr>
                                                <td class="pro-thumbnail">
                                                    <a href="#">
                                                        <img src="/ProductPicture/@item.picture" class="img-fluid"
                                                             alt="@item.name">
                                                    </a>
                                                </td>
                                                <td class="pro-title">
                                                    <a href="@item.slug">
                                                        @item.name
                                                    </a>
                                                </td>
                                                <td class="pro-price">
                                                    <span>@item.doublePrice.ToString("n0")</span>
                                                </td>
                                                <td class="pro-price">
                                                    <span>@item.count</span>
                                                </td>
                                                <td class="pro-price">
                                                    <span>(@item.DiscountRate) %</span>
                                                </td>
                                                <td class="pro-subtotal">
                                                    <span>@item.TotalItemPrice.ToString("n0")</span>
                                                </td>
                                                <td class="pro-subtotal">
                                                    <span>@item.DiscountAmout.ToString("n0")</span>
                                                </td>
                                                <td class="pro-subtotal">
                                                    <span>@item.ItemPayAmount.ToString("n0")</span>
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>


                            <div class="row">
                                <div class="col-lg-5 col-12 d-flex">

                                    <div class="checkout-payment-method">
                                        <h4>نحوه پرداخت</h4>
                                        @foreach (var method in PaymentMethod.GetList())
                                        {
                                            <div class="single-method">
                                                <input type="radio" id="payment_@method.Id" name="paymentMethod" value="@method.Id" @(PaymentMethod.GetList().First().Id == method.Id ? "checked" : "")>
                                                <label for="payment_@method.Id">@method.Name</label>
                                                <p data-method="@method.Id" style="display:@(PaymentMethod.GetList().First().Id == method.Id ? "block" : "none")">@method.Description</p>
                                            </div>
                                        }
                                    </div>

                                </div>
                                <div class="col-lg-7 col-12 d-flex">
                                    <div class="cart-summary">
                                        <div class="cart-summary-wrap">
                                            <h4>خلاصه وضعیت فاکتور</h4>
                                            <p>مبلغ نهایی <span>@Model.Cart.PayAmount.ToString("n0") تومان</span></p>
                                            <hr />
                                            <p>مبلغ تخفیف <span>@Model.Cart.DiscountAmount.ToString("n0") تومان</span></p>
                                            <hr />
                                            <h2 class="text-primary">مبلغ قابل پرداخت <span class="text-success">@Model.Cart.TotalAmount.ToString("n0") هزار تومان</span></h2>
                                            <hr />
                                            <button class="checklistBasket" asp-page-handler="Pay">پرداخت</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


