@page
@model ServiceHost.Pages.SearchResultModel


@{
    ViewData["Title"] = "فروشگاه آنلاین / نتیجه جستجو ";
}

<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  breadcrumb wrpapper  =======-->
                <div class="breadcrumb-wrapper breadcrumb-bg">
                    <!--=======  breadcrumb content  =======-->
                    <div class="breadcrumb-content">
                        <h2 class="breadcrumb-content__title">نتیجه جستجو : (@ViewData["Value"]  -  @Model.Products.Count() محصول) </h2>                       
                    </div>
                    
                </div>
                <!--=======  End of breadcrumb wrpapper  =======-->
            </div>
        </div>
    </div>
</div>
<!--====================  End of breadcrumb area  ====================-->
<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  shop page wrapper  =======-->
                <div class="page-wrapper">
                    <div class="page-content-wrapper">
                        <div class="row">

                            <div class="col-lg-12">
                                <!--=======  shop page content  =======-->
                                <div class="shop-page-content">

                                    <div class="row shop-product-wrap grid three-column">
                                        @foreach (var Product in Model.Products)
                                        {
                                            <div class="col-12 col-lg-3 col-md-4 col-sm-5">
                                                <!--=======  product grid view  =======-->
                                                <div class="single-grid-product grid-view-product">
                                                    <div class="single-grid-product__image">
                                                        @if (Product.hasDiscount)
                                                        {
                                                            <div class="single-grid-product__label">
                                                                <span class="new">@Product.DiscountRate %</span>
                                                            </div>
                                                        }

                                                        <a href="single-product.html">
                                                            <img src="/ProductPicture/@Product.Picture" title="@Product.PictureTitle" class="img-fluid"
                                                                 alt="@Product.PictureAlt">

                                                        </a>


                                                    </div>
                                                    <div class="single-grid-product__content">
                                                        <div class="single-grid-product__category-rating">
                                                            <span class="category">
                                                                <a asp-page="Productcategory" asp-route-id="@Product.CategorySlug">@Product.CategoryName</a>
                                                            </span>
                                                            <span class="rating">
                                                                <i class="ion-android-star active"></i>
                                                                <i class="ion-android-star active"></i>
                                                                <i class="ion-android-star active"></i>
                                                                <i class="ion-android-star active"></i>
                                                                <i class="ion-android-star-outline"></i>
                                                            </span>
                                                        </div>

                                                        <h3 class="single-grid-product__title">
                                                            <a asp-page="/ProductDetails">
                                                                @Product.Name
                                                            </a>
                                                        </h3>

                                                        <p class="single-grid-product__price">

                                                            @if (Product.hasDiscount)
                                                            {
                                                                <span class="discounted-price">@Product.PriceWithDiscount تومان</span>
                                                                <span class="main-price discounted">@Product.Price </span>

                                                            }
                                                            else
                                                            {
                                                                <span class="main-price">@Product.Price تومان</span>

                                                            }

                                                        </p>
                                                        @if (Product.hasDiscount)
                                                        {

                                                            <div class="product-countdown" data-countdown="@Product.Discountexpirydate"></div>
                                                        }
                                                    </div>
                                                </div>
                                                <!--=======  End of product grid view  =======-->

                                            </div>

                                        }



                                    </div>

                                </div>

                            
                            </div>
                        </div>
                    </div>
                </div>
                <!--=======  End of shop page wrapper  =======-->
            </div>
        </div>
    </div>
</div>